# MISC

## 端口冲突
* C:\Users\73915\.conda\envs\py10\lib\site-packages\vnpy_excelrtd\engine.py  该文件修改

## install talib
* https://www.lfd.uci.edu/~gohlke/pythonlibs/#ta-lib

In [2]:
print('hello')

hello

In [3]:
# 导入tushare
import tushare as ts
# 初始化pro接口
pro = ts.pro_api('da1909ccd88edbe912d5b1ec827874fd82d998a5cbb919169dc088d5')

# 拉取数据
df = pro.index_basic(**{
    "ts_code": "",
    "market": "",
    "publisher": "",
    "category": "",
    "name": "",
    "limit": "",
    "offset": ""
}, fields=[
    "ts_code",
    "name",
    "market",
    "publisher",
    "category",
    "base_date",
    "base_point",
    "list_date"
])
print(df)

         ts_code            name market publisher category base_date  \
0     000001.CZC            农期指数    OTH   郑州商品交易所     商品指数      None
1      000001.SH            上证指数    SSE      中证公司     综合指数  19901219
2     000002.CZC            农期谷物    OTH   郑州商品交易所     商品指数      None
3      000002.SH            上证A指    SSE      中证公司     综合指数  19901219
4     000003.CZC            农期软商    OTH   郑州商品交易所     商品指数      None
...          ...             ...    ...       ...      ...       ...
7995  h20811.CSI  中国1000材料(全)USD    CSI      中证公司     行业指数  20061229
7996  h20812.CSI  中国1000工业(全)USD    CSI      中证公司     行业指数  20061229
7997  h20813.CSI  中国1000可选(全)USD    CSI      中证公司     行业指数  20061229
7998  h20814.CSI  中国1000消费(全)USD    CSI      中证公司     行业指数  20061229
7999  h20815.CSI  中国1000医药(全)USD    CSI      中证公司     行业指数  20061229

      base_point list_date
0         1000.0      None
1          100.0  19910715
2         1000.0      None
3          100.0  19920221
4         1000.0      None
...          ...       ...
7995      1000.0  20160510
7996      1000.0  20160510
7997      1000.0  20160510
7998      1000.0  20160510
7999      1000.0  20160510

[8000 rows x 8 columns]

In [1]:
import rqdatac
import pandas as pd
import datetime

rqdatac.init(username='17187186168', password='810716')

In [6]:
rqdatac.user.get_quota()

data = rqdatac.get_price('301398.XSHE', start_date=pd.Timestamp("20191207"), end_date=datetime.datetime(2022,12,8))

In [25]:
# rqdatac.get_price('110033.SSE', start_date=20150101, end_date="2015-02-01")
# XSHE, XSHG
data = rqdatac.get_price('600820.XSHG', start_date=pd.Timestamp("20191207"), end_date=datetime.datetime(2022,12,8))
# rqdatac.get_financials()

In [26]:
data.tail()

                          limit_up  open      volume  prev_close  close  high  \
order_book_id date
600820.XSHG   2022-12-02      5.98  5.44  21813305.0        5.44   5.44  5.47
              2022-12-05      5.98  5.47  51900347.0        5.44   5.58  5.62
              2022-12-06      6.14  5.57  30647599.0        5.58   5.54  5.60
              2022-12-07      6.09  5.52  23085633.0        5.54   5.46  5.55
              2022-12-08      6.01  5.49  15966342.0        5.46   5.46  5.50

                           low  num_trades  limit_down  total_turnover
order_book_id date
600820.XSHG   2022-12-02  5.40     20594.0        4.90     118718164.0
              2022-12-05  5.47     33573.0        4.90     288616471.0
              2022-12-06  5.52     26347.0        5.02     170357239.0
              2022-12-07  5.43     19963.0        4.99     126467066.0
              2022-12-08  5.44     18431.0        4.91      87380679.0

In [22]:
instuments = rqdatac.all_instruments(type='CS', market='cn', date=None)
instuments

In [24]:
df = instuments.loc[instuments["order_book_id"].str.startswith('600820', na=False)]
df

,order_book_id,industry_code,market_tplus,symbol,special_type,exchange,status,type,de_listed_date,listed_date,sector_code_name,abbrev_symbol,sector_code,round_lot,trading_hours,board_type,industry_name,issue_price,trading_code,purchasedate
3579,600820.XSHG,E48,1,隧道股份,Normal,XSHG,Active,CS,0000-00-00,1994-01-28,工业,SDGF,Industrials,100.0,"09:31-11:30,13:01-15:00",MainBoard,土木工程建筑业,3.4,600820,NaN